@use "../../styles/variable.scss" as *;

.myTeams {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 16px;
  padding: 0 16px 20px;
  box-sizing: border-box;
  > h2 {
    margin: 0;
    font-size: 24px;
  }
}
