.spinnerBackdrop {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #9f9f9f;
}
.spinner {
  width: 32px;
  height: 32px;

  border-radius: 999px;

  border: 3px solid rgba(255, 255, 255, 0.1);

  border-top-color: #14f195;

  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
