@use './variable.scss' as *;

.header {
  width: 100%;
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 60px;
  >div {
display:flex;
flex-direction:row;
align-items: center;
justify-content: flex-start;
column-gap: 16px;
    >p {
      font-size: 32px;
      color: $text-color;
      font-weight: 600;

    }
  }
  >nav {
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 32px;
    a {
      font-size: 24px;
      color: $text-sub-color;
      &:hover {
        color: $text-color;
        scale: 1.1;
        transition: all 0.3s ease;
      }
    }
  }
}