@use "../../../../../styles/variable.scss" as *;

.matchCard {
  padding: 16px 24px;
  box-sizing: border-box;
  background-color: $bg-white;
  border-radius: 16px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
