@use "../../../../../styles/variable.scss" as *;
.leagueTable {
  width: 100%;
  background-color: $bg-white;
  border-radius: 16px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 8px 0 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid rgba(240, 240, 240, 1);
  > div {
    width: 100%;
    display: grid;
    grid-template-columns:
      [position] 44px
      [Team] auto
      [PL] 27px
      [W] 30px
      [D] 30px
      [L] 30px
      [plusMin] 60px
      [GD] 40px
      [PTS] 40px
      [Form] 150px
      [Next] 100px;
    grid-column: 1/-1;
    column-gap: 12px;

    > div {
      width: 100%;
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 1/-1;
    }
  }
}
