@use "../../../../../styles/variable.scss" as *;
@use "../../../../../styles/skeleton.scss" as *;

.matchPrediction {
  width: 100%;
  box-sizing: border-box;
  min-height: 132px;
  padding: 14px 16px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 24px;
  row-gap: 16px;
  border-radius: 12px;
  background-color: $bg-white;
  border: 1px solid rgba(236, 236, 236, 1);
  text-align: left;
  @media (max-width: 600px) {
    grid-template-columns: minmax(0, 1fr);
  }
}

.skeleton {
  display: block;
  height: 102px;
  @include skeleton-shimmer(8px);
}
