@use "../../../../styles/skeleton.scss" as *;

.skeletonGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.skeletonBlock {
  display: block;
  width: 100%;
  @include skeleton-shimmer(12px);
}
